@import url(styles/header.css);
@import url(styles/carrossel.css);
@import url(styles/cards.css);
@import url(styles/pratica.css);
@import url(styles/sustentabilidade.css);
@import url(styles/footer.css);

:root{
    --cor-branco: #FFFFFF;
    --cor-de-fundo: #d8ffc2;
    --cor-hover : #fb3f25;
    --cor-primaria : #fff;
    --cor-do-titulo-carros: #e4c25c;
    --cor-dos-titulos: #95DB39;
    --cor-do-card1: #10a947;
    --cor-do-card2: #10a947;
    --cor-preto: #000000;
    --cor-de-azul: #4122d9;
    --cor-do-retangulo: #f8973b;
    --cor-do-fundo-carrossel: #2ed33a;
    --cor-do-titulo-carrossel:#f8973b;
    --fonte-principal: "Quicksand";
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
.sangue{
    height: 500px;
    left: 1px;
    top: 270px;
background: var(--cor-de-fundo);
}
.sangueeórgãos{
    height: 500px;
}