
    body{
        font-family: var(--fonte-principal);
    }
    .swiper-slide img{
        height: 250px;
    }
    .swiper-button-prev1, 
    .swiper-button-next1 {
        display: none;
    }

    .swiper-slide1 img{
        width: 20%;
        height: 10px;
    }
    .carrossel{
        background-color: var(--cor-do-fundo-carrossel);
    }

    .carrossel__titulo1{
        font-size: 2em;
        color: var(--cor-dos-titulos);
        margin-left: 7em;
    }

    .carrossel__titulo2{
        font-size: 2em;
        color: var(--cor-dos-titulos);
        margin-left: 7em;
    }

    .carrossel__frase2{
        font-size: 2em;
        color: var(--cor-dos-titulos);
        margin-left: 7em;
    }
