
    body{
        font-family: var(--fonte-principal);
    }
    .swiper-slide img{
        height: 250px;
    }
    .swiper-button-prev1, 
    .swiper-button-next1 {
        display: none;
    }

    .swiper-slide1 img{
        width: 20%;
        height: 10px;
    }
    .carrossel{
        background-color: var(--cor-do-fundo-carrossel);
    }

    
    .carrossel__titulo2{
        text-align: center;
        font-size: 40px;
        color: var(--cor-do-titulo-carrossel);
        
        left: 8em;
        font-weight: 700;
    }

    .carrossel__frase2{
        text-align: center;
        font-size: 35px;
        color: var(--cor-de-azul);
        left: 7em;
    }

