
  body{
    font-family: var(--fonte-principal);
  }
  .cabecalho{
      background-color: var(--cor-branco);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  }
  .lista-menu{
      display: none;
      position: absolute;
      top: 100%;
      width: 25vw;
      z-index: 2;
      list-style: none;
  }
  
  a {
    color: inherit;
  }
  
  .lista-menu__item{
    background-color: var(--cor-de-fundo);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--cor-de-azul);
    text-decoration: none;
  }
  



  